<div id="first_row">
    <div class="ui special cards" style="width: 200px; margin-top: 13px;">
    <div class="card">
        <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
            <div class="content">
            <div class="center">
                <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
            </div>
            </div>
        </div>
        <img src="<%= @custom[:blue].image %>" class="product_image">
        </div>
        <div class="content">
        <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @custom[:blue].price %> | <%= @custom[:blue].name %></a>
        <div class="meta">
            <span class="date"> <%= @custom[:blue].description %></span>
        </div>
        </div>
        <div class="extra content">
         <a style="color:#292929">
            <i class="book icon"></i>
            READ MORE
        </a>
        </div>
    </div>
    </div>

    <%# 1 %>
    <div class="ui special cards" style="width: 200px;">
    <div class="card">
        <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
            <div class="content">
            <div class="center">
                <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
            </div>
            </div>
        </div>
        <img src="<%= @custom[:yay].image %>" class="product_image">
        </div>
        <div class="content">
        <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @custom[:yay].price %> | <%= @custom[:blue].name %></a>
        <div class="meta">
            <span class="date"> <%= @custom[:yay].description %></span>
        </div>
        </div>
        <div class="extra content">
         <a style="color:#292929">
            <i class="book icon"></i>
            READ MORE
        </a>
        </div>
    </div>
    </div>

    <%# 1 %>
    <div class="ui special cards" style="width: 200px;">
    <div class="card">
        <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
            <div class="content">
            <div class="center">
                <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
            </div>
            </div>
        </div>
        <img src="<%= @custom[:starwars].image %>" class="product_image">
        </div>
        <div class="content">
        <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @custom[:starwars].price %> | <%= @custom[:starwars].name %></a>
        <div class="meta">
            <span class="date"> <%= @custom[:starwars].description %></span>
        </div>
        </div>
        <div class="extra content">
         <a style="color:#292929">
            <i class="book icon"></i>
            READ MORE
        </a>
        </div>
    </div>
    </div>



<div class="ui special cards" style="width: 200px;">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
          </div>
        </div>
      </div>
      <img src="<%= @custom[:spring].image %>" class="product_image">
    </div>
    <div class="content">
      <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @custom[:spring].price %> | <%= @custom[:spring].name %></a>
      <div class="meta">
        <span class="date"> <%= @custom[:spring].description %></span>
      </div>
    </div>
    <div class="extra content">
       <a style="color:#292929">
        <i class="book icon"></i>
        READ MORE
      </a>
    </div>
  </div>
</div>

</div>

<%# SECOND ROW %>

<div id="second_row">
    <div class="ui special cards" style="width: 200px; margin-top: 13px;">
    <div class="card">
        <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
            <div class="content">
            <div class="center">
                <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
            </div>
            </div>
        </div>
        <img src="<%= @custom[:dogs].image %>" class="product_image">
        </div>
        <div class="content">
        <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @custom[:dogs].price %> | <%= @custom[:dogs].name %></a>
        <div class="meta">
            <span class="date"> <%= @custom[:dogs].description %></span>
        </div>
        </div>
        <div class="extra content">
         <a style="color:#292929">
           <i class="book icon"></i>
            READ MORE
        </a>
        </div>
    </div>
    </div>

    <%# 1 %>
    <div class="ui special cards" style="width: 200px;">
    <div class="card">
        <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
            <div class="content">
            <div class="center">
                <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
            </div>
            </div>
        </div>
        <img src="<%= @custom[:virgin].image %>" class="product_image">
        </div>
        <div class="content">
        <a class="header"style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @custom[:virgin].price %> | <%= @custom[:virgin].name %></a>
        <div class="meta">
            <span class="date"> <%= @custom[:virgin].description %></span>
        </div>
        </div>
        <div class="extra content">
         <a style="color:#292929">
            <i class="book icon"></i>
            READ MORE
        </a>
        </div>
    </div>
    </div>

    <%# 1 %>
    <div class="ui special cards" style="width: 200px;">
    <div class="card">
        <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
            <div class="content">
            <div class="center">
                <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
            </div>
            </div>
        </div>
        <img src="<%= @custom[:empire].image %>" class="product_image">
        </div>
        <div class="content">
        <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @custom[:empire].price %> | <%= @custom[:empire].name %></a>
        <div class="meta">
            <span class="date"> <%= @custom[:empire].description %></span>
        </div>
        </div>
        <div class="extra content">
         <a style="color:#292929">
            <i class="book icon"></i>
            READ MORE
        </a>
        </div>
    </div>
    </div>



<div class="ui special cards" style="width: 200px;">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
          </div>
        </div>
      </div>
      <img src="<%= @custom[:brush].image %>" class="product_image">
    </div>
    <div class="content">
      <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @custom[:brush].price %> | <%= @custom[:brush].name %></a>
      <div class="meta">
        <span class="date"> <%= @custom[:brush].description %></span>
      </div>
    </div>
    <div class="extra content">
       <a style="color:#292929">
        <i class="book icon"></i>
        READ MORE
      </a>
    </div>
  </div>
</div>

<a href="https://www.edamam.com/" target="_blank"><img src="/images/media/macaron.gif" id="macarooner" style="position: absolute;
    height: 100px;
    margin-top: -462px;
    <%# margin-left: -420px; %>
    transform: rotate(180deg);
    animation: run_top_left 20s normal;"></a>

</div>
 <script>
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
  </script>

