<div id="first_row">
    <div class="ui special cards" style="width: 200px; margin-top: 13px;">
    <div class="card">
        <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
            <div class="content">
            <div class="center">
                <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
            </div>
            </div>
        </div>
        <img src="<%= @marchandise[:wow].image %>" class="product_image">
        </div>
        <div class="content">
        <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @marchandise[:wow].price %> | <%= @marchandise[:wow].name %></a>
        <div class="meta">
            <span class="date"> <%= @marchandise[:wow].description %></span>
        </div>
        </div>
        <div class="extra content">
         <a style="color:#292929">
            <i class="book icon"></i>
            READ MORE
        </a>
        </div>
    </div>
    </div>

    <%# 1 %>
    <div class="ui special cards" style="width: 200px;">
    <div class="card">
        <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
            <div class="content">
            <div class="center">
                <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
            </div>
            </div>
        </div>
        <img src="<%= @marchandise[:boo].image %>" class="product_image">
        </div>
        <div class="content">
        <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @marchandise[:boo].price %> | <%= @marchandise[:boo].name %></a>
        <div class="meta">
            <span class="date"> <%= @marchandise[:boo].description %></span>
        </div>
        </div>
        <div class="extra content">
         <a style="color:#292929">
            <i class="book icon"></i>
            READ MORE
        </a>
        </div>
    </div>
    </div>

    <%# 1 %>
    <div class="ui special cards" style="width: 200px;">
    <div class="card">
        <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
            <div class="content">
            <div class="center">
                <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
            </div>
            </div>
        </div>
        <img src="<%= @marchandise[:keychain].image %>" class="product_image">
        </div>
        <div class="content">
        <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @marchandise[:keychain].price %> | <%= @marchandise[:keychain].name %></a>
        <div class="meta">
            <span class="date"> <%= @marchandise[:keychain].description %></span>
        </div>
        </div>
        <div class="extra content">
         <a style="color:#292929">
            <i class="book icon"></i>
            READ MORE
        </a>
        </div>
    </div>
    </div>



<div class="ui special cards" style="width: 200px;">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
          </div>
        </div>
      </div>
      <img src="<%= @marchandise[:phonecase].image %>" class="product_image">
    </div>
    <div class="content">
      <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @marchandise[:phonecase].price %> | <%= @marchandise[:phonecase].name %></a>
      <div class="meta">
        <span class="date"> <%= @marchandise[:phonecase].description %></span>
      </div>
    </div>
    <div class="extra content">
       <a style="color:#292929">
        <i class="book icon"></i>
        READ MORE
      </a>
    </div>
  </div>
</div>

</div>

<%# SECOND ROW %>

<div id="second_row">
    <div class="ui special cards" style="width: 200px; margin-top: 13px;">
    <div class="card">
        <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
            <div class="content">
            <div class="center">
                <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
            </div>
            </div>
        </div>
        <img src="<%= @marchandise[:scarf].image %>" class="product_image">
        </div>
        <div class="content">
        <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @marchandise[:scarf].price %> | <%= @marchandise[:scarf].name %></a>
        <div class="meta">
            <span class="date"> <%= @marchandise[:scarf].description %></span>
        </div>
        </div>
        <div class="extra content">
         <a style="color:#292929">
            <i class="book icon"></i>
            READ MORE
        </a>
        </div>
    </div>
    </div>

    <%# 1 %>
    <div class="ui special cards" style="width: 200px;">
    <div class="card">
        <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
            <div class="content">
            <div class="center">
                <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
            </div>
            </div>
        </div>
        <img src="<%= @marchandise[:rug].image %>" class="product_image">
        </div>
        <div class="content">
        <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @marchandise[:rug].price %> | <%= @marchandise[:rug].name %></a>
        <div class="meta">
            <span class="date"> <%= @marchandise[:rug].description %></span>
        </div>
        </div>
        <div class="extra content">
         <a style="color:#292929">
            <i class="book icon"></i>
            READ MORE
        </a>
        </div>
    </div>
    </div>

    <%# 1 %>
    <div class="ui special cards" style="width: 200px;">
    <div class="card">
        <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
            <div class="content">
            <div class="center">
                <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
            </div>
            </div>
        </div>
        <img src="<%= @marchandise[:bag].image %>" class="product_image">
        </div>
        <div class="content">
        <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @marchandise[:bag].price %> | <%= @marchandise[:bag].name %></a>
        <div class="meta">
            <span class="date"> <%= @marchandise[:bag].description %></span>
        </div>
        </div>
        <div class="extra content">
         <a style="color:#292929">
            <i class="book icon"></i>
            READ MORE
        </a>
        </div>
    </div>
    </div>



<div class="ui special cards" style="width: 200px;">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
          </div>
        </div>
      </div>
      <img src="<%= @marchandise[:purse].image %>" class="product_image">
    </div>
    <div class="content">
      <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @marchandise[:purse].price %> | <%= @marchandise[:purse].name %></a>
      <div class="meta">
        <span class="date"> <%= @marchandise[:purse].description %></span>
      </div>
    </div>
    <div class="extra content">
       <a style="color:#292929">
        <i class="book icon"></i>
        READ MORE
      </a>
    </div>
  </div>
</div>

<a href="https://www.edamam.com/" target="_blank"><img src="/images/media/macaron.gif" id="macarooner" style="position: absolute;
    height: 100px;
    <%# margin-top: -462px; %>
    margin-left:  -61px;
    transform: rotate(270deg);
    animation: run_down_right 20s normal;"></a>

</div>
 <script>
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
  </script>

