<div id="first_row">
    <div class="ui special cards" style="width: 200px; margin-top: 13px;">
    <div class="card">
        <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
            <div class="content">
            <div class="center">
                <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
            </div>
            </div>
        </div>
        <img src="<%= @rainbow[:pink].image %>" class="product_image">
        </div>
        <div class="content">
        <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @rainbow[:pink].price %> | <%= @rainbow[:pink].name %></a>
        <div class="meta">
            <span class="date"> <%= @rainbow[:pink].description %></span>
        </div>
        </div>
        <div class="extra content">
        <a style="color:#292929">
            <i class="book icon"></i>
            READ MORE
        </a>
        </div>
    </div>
    </div>

    <%# 1 %>
    <div class="ui special cards" style="width: 200px;">
    <div class="card">
        <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
            <div class="content">
            <div class="center">
                <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
            </div>
            </div>
        </div>
        <img src="<%= @rainbow[:green].image %>" class="product_image">
        </div>
        <div class="content">
        <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @rainbow[:green].price %> | <%= @rainbow[:green].name %></a>
        <div class="meta">
            <span class="date"> <%= @rainbow[:green].description %></span>
        </div>
        </div>
        <div class="extra content">
         <a style="color:#292929">
            <i class="book icon"></i>
            READ MORE
        </a>
        </div>
    </div>
    </div>

    <%# 1 %>
    <div class="ui special cards" style="width: 200px;">
    <div class="card">
        <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
            <div class="content">
            <div class="center">
                <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
            </div>
            </div>
        </div>
        <img src="<%= @rainbow[:david].image %>" class="product_image">
        </div>
        <div class="content">
        <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @rainbow[:david].price %> | <%= @rainbow[:david].name %></a>
        <div class="meta">
            <span class="date"> <%= @rainbow[:david].description %></span>
        </div>
        </div>
        <div class="extra content">
         <a style="color:#292929">
            <i class="book icon"></i>
            READ MORE
        </a>
        </div>
    </div>
    </div>



<div class="ui special cards" style="width: 200px;">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
          </div>
        </div>
      </div>
      <img src="<%= @rainbow[:computer].image %>" class="product_image">
    </div>
    <div class="content">
      <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @rainbow[:computer].price %> | <%= @rainbow[:computer].name %></a>
      <div class="meta">
        <span class="date"> <%= @rainbow[:computer].description %></span>
      </div>
    </div>
    <div class="extra content">
       <a style="color:#292929">
        <i class="book icon"></i>
        READ MORE
      </a>
    </div>
  </div>
</div>

</div>

<%# SECOND ROW %>

<div id="second_row">
    <div class="ui special cards" style="width: 200px; margin-top: 13px;">
    <div class="card">
        <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
            <div class="content">
            <div class="center">
                <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
            </div>
            </div>
        </div>
        <img src="<%= @rainbow[:elvis].image %>" class="product_image">
        </div>
        <div class="content">
        <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @rainbow[:elvis].price %> | <%= @rainbow[:elvis].name %></a>
        <div class="meta">
            <span class="date"> <%= @rainbow[:elvis].description %></span>
        </div>
        </div>
        <div class="extra content">
         <a style="color:#292929">
            <i class="book icon"></i>
            READ MORE
        </a>
        </div>
    </div>
    </div>

    <%# 1 %>
    <div class="ui special cards" style="width: 200px;">
    <div class="card">
        <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
            <div class="content">
            <div class="center">
                <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
            </div>
            </div>
        </div>
        <img src="<%= @rainbow[:john].image %>" class="product_image">
        </div>
        <div class="content">
        <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @rainbow[:john].price %> | <%= @rainbow[:john].name %></a>
        <div class="meta">
            <span class="date"> <%= @rainbow[:john].description %></span>
        </div>
        </div>
        <div class="extra content">
         <a style="color:#292929">
            <i class="book icon"></i>
            READ MORE
        </a>
        </div>
    </div>
    </div>

    <%# 1 %>
    <div class="ui special cards" style="width: 200px;">
    <div class="card">
        <div class="blurring dimmable image">
        <div class="ui inverted dimmer">
            <div class="content">
            <div class="center">
                <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
            </div>
            </div>
        </div>
        <img src="<%= @rainbow[:grut].image %>" class="product_image">
        </div>
        <div class="content">
        <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @rainbow[:grut].price %> | <%= @rainbow[:grut].name %></a>
        <div class="meta">
            <span class="date"> <%= @rainbow[:grut].description %></span>
        </div>
        </div>
        <div class="extra content">
         <a style="color:#292929">
            <i class="book icon"></i>
            READ MORE
        </a>
        </div>
    </div>
    </div>



<div class="ui special cards" style="width: 200px;">
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui primary button" style="color:white ; background-color: #f44a52;"><i class="shopping bag icon"></i>ADD TO CART</div>
          </div>
        </div>
      </div>
      <img src="<%= @rainbow[:cinderella].image %>" class="product_image">
    </div>
    <div class="content">
      <a class="header" style="font-family: 'Special Elite', cursive; color:#292929"> $<%= @rainbow[:cinderella].price %> | <%= @rainbow[:cinderella].name %></a>
      <div class="meta">
        <span class="date"> <%= @rainbow[:cinderella].description %></span>
      </div>
    </div>
    <div class="extra content">
       <a style="color:#292929">
        <i class="book icon"></i>
        READ MORE
      </a>
    </div>
  </div>
</div>

</div>

<a href="https://www.edamam.com/" target="_blank"><img src="/images/media/macaron.gif" id="macarooner" style="position: absolute;
    height: 100px;
    margin-top: -49px;
    margin-left: -420px;
    transform: rotate(90deg);
    animation: run_up_left 20s normal;"></a>

 <script>
  $('.special.cards .image').dimmer({
    on: 'hover'
  });
  </script>

  
